.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#top-label {
  font-weight: bold !important;
}

#nav-container {

  /* Make a collapsible navbar for small page widths */
}

.whiteText {
  color: white !important;
}

.photo {
  height: 35vh;
  width: 35vh;
  display:flex;
  justify-content: center;

}

.gradecoloroption:hover, .gradecoloroption:focus {
  background-color:white !important;
}

.techniqueLink {
  margin-left:0;
}

.central {
  border-left: "1px solid";
}

/* .gradecoloroption {
  font-size: 20px;
} */
